<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      .nounderline {
          text-decoration: none !important;
        }

      .keyword {
          color: #40413E;
        }

      kbd {
          background-color: #D4D5D2;
          color: black;
        }
  </style>

</head>

<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
      <div class="container">
          <div id="header">{% block header %}{% endblock %}</div>
          <div class="collapse navbar-collapse" id="navmenu">
              <ul class="navbar-nav ms-auto">
                <li>
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/calculator">Calculator</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">WTF Form for flask (To Be Added)</a>
                  </li>
              </ul>
          </div>
      </div>
</nav>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


<div id="content">{% block content %}{% endblock %}</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<div id="footer">
    {% block footer %}
        Tanner Guld - IS218 Project
    {% endblock %}
</div>

</body>
</html>
