{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python-Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      .nounderline {
          text-decoration: none !important;
        }

      .keyword {
          color: #40413E;
        }

      kbd {
          background-color: #D4D5D2;
          color: black;
        }

  </style>
{% endblock %}

{% block content %}
    <body>
    <!-- Showcase -->
    <section class="bg-dark text-light p-4 text-center text-sm-start">
      <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
              <div>
                  <h2>My Website</h2>
                </div>
          </div>
      </div>
    </section>
    <!-- Page -->
    <section class="text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-md-center">
            <h2 class="py-2"><strong>Description</strong></h2>
        </div>
        <div>
            <p>
                This website was created for a project in my IS-218 class. It features a calculator, a results page, a results log page,
                and some extra information I found valuable while developing this project, including, object-oriented programming principles and terms,
                AAA testing, SOLID principles, and some pylint tips.
                The main feature is the calculator page, which takes
                input values from an html form, runs them through my python calculator program, stores the results in csv file,
                and finally displays the contents of the csv file in an html table.
                <br><br>
                The full project code can be found in this
                <a href="https://github.com/tanner666/calc_ex/tree/project_3" target="_blank" class="nounderline">link</a>
                to my github repo.
            </p>
        </div>
        <div>
            <h2 class="py-2"><strong>Project Overview</strong></h2>
        </div>
        <div>
            <p>
                This project was built entirely in Pycharm, running inside of a Docker Container. I started out by
                 creating a calculator. There's more description on how the code works below, but
                essentially the calculator can take a tuple of values and perform either addition, subtraction, multiplication, or division
                on the values. The calculation object is then stored in a history array. The next step was to be able to log the calculations in a csv file and
                also access the contents of the csv file.
                To do this, I created a file reader class, which takes a csv file and converts it to a dataframe, and a file writer class, which contains a method to append the data from an
                array to a csv file. <br><br>
                The next step was setting up the webpage. I had to adapt code that my
                professor provided for a basic webpage, to include my calculator. The main website code consists of html forms,
                including a base template used to set up all the html forms, an app.py file, which uses Flask to connect and display
                the various html forms, some controller.py files, which define the POST and GET methods used by app.py, and the addition of
                nginx and Flask to the DockerFiles (which allows the program to run on localhost).
                The calculator and csv log are connected to the website in the calculator_controller.py file. How it works is the calculator_controller's
                post method takes data inputted into the calculator.html page and passes it to the calculator. The calculation info
                (stored in the history array) is then copied into the csv log file. The content of the csv log file is then passed
                into the result.html form as an array, which then gets displayed as a table on the webpage.
                <br><br>
                Each stage of the development process is also backed up in my GitHub repository (link above).
                <br>
              </p>
        </div>
        <div>
            <h2 class="py-2"><strong>Python Calculator Program Overview</strong></h2>
        </div>
        <div>
            <p>
                At the top layer, the Calculator Class connects all the other classes. It has methods for all four calculations,
                such as add_numbers, that call upon the corresponding History Class methods. The History Class has four specific methods for the calculations,
                such as add_addition_calculation, which call upon a create method to instantiate the corresponding calculation object (like Addition), pass the object a tuple of
                values, and then store the calculation object in a list. The calculation object is instantiated and setup by the calculation factory class.<br>
                The Calculator Class can then ask for the result of that calculation, using the get_result_value() method, which
                calls another History Class method to retrieve the result. This History Class method looks at the list of calculation objects,
                calls upon the get_result() method of the corresponding calculation object (where the actual computation is performed),
                 and retrieves and returns this result. <br>

              </p>
        </div>

      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
{% endblock %}
